




<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <%= link_to "Buses", buses_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>

      <% if current_bus_owner %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <span class="navbar-text text-light"><%= current_bus_owner.email %></span>
            <%= link_to "Sign Out", destroy_bus_owner_session_path, method: :delete, class: "nav-link active" %>
          </li>
        </ul>
      <% elsif current_customer %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <span class="navbar-text text-light"><%= current_customer.email %></span>
            <%= link_to "Sign Out", destroy_customer_session_path, method: :delete, class: "nav-link active" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Bus Owner Sign Up", new_bus_owner_registration_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Bus Owner Log In", new_bus_owner_session_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Customer Sign Up", new_customer_registration_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Customer Log In", new_customer_session_path, class: "nav-link active" %>
          </li>
        </ul>
      <% end %>

    </div>
  </div>
</nav>
