<tr>
    <td><%= bus.name %></td>
    <td><%= bus.registration_no %></td>
    <td><%= bus.source %></td>
    <td><%= bus.destination %></td>
    <td><%= bus.no_of_seats %></td>
    <td><%= bus.bus_owner.name if bus_owner_signed_in? %></td>
    <td><%= link_to "View Seats" , bus_path(bus) %> </td>
    
</tr>
    
  